* {
  box-sizing: border-box;
}
header {
  display: block;
}
.financer-template-div {
  background-color: #363635;
  padding: 5em 2em 0em;
  margin: auto;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("assets/carousel.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.new-text {
  color: #f49f00;
}
.financer-description {
  font-size: 20px;
  line-height: 1.5em;
  margin: 25px 0px;
  font-weight: normal;
}
.main-div {
  margin: 15px;
}

.financer-template-contact {
  margin: 50px 0;
  display: flex;
  font-size: 14px;
  color: #fff;
}
.financer-template-contact span {
  padding: 18px;
  color: #fff;
  margin: 2px;
}
.financer-template-contact a {
  color: #fff;
  text-decoration: none;
}
.about-us {
  background-color: #df0505;
}
.contact-us {
  background-color: #f1a00a;
}
.slide-span {
  display: flex;
  text-align: center;
  position: relative;
  bottom: 30px;
}
.slide-span span {
  margin: 2px;
  width: 40px;
  text-align: center;
  height: 1px;
  background-color: #575757;
}
.slide-span a {
  display: block;
  text-decoration: none;
  height: 1px;
}
.slide-span a:hover {
  background-color: #fff;
}
.list-item a:after {
  display: block;
  content: "";
  margin: 20px auto;
  border-bottom: solid 2px #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.345s ease;
}
.list-item a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  margin: 20px auto;
}
@media (max-width: 768px) {
  .contact-mail {
    display: none;
  }
  .hamburger-menu-div {
    width: 60px;
    height: 60px;
    background-color: #454545;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1;
  }
  .menu-bars {
    visibility: visible;
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    margin: 20px 14px;
    border-radius: 2px;
  }
  .menu-bars:before {
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    content: "";
    margin: 9px auto;
    border-radius: 2px;
  }
  .menu-bars:after {
    border-radius: 2px;
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    content: "";
    margin: 18px auto;
  }
  .close-icon {
    position: absolute;
    margin: 10px 25px;
    width: 3px;
    height: 30px;
    visibility: hidden;
  }
  .close-icon:before {
    left: 4px;
    top: 6px;
    background-color: #fff;
    content: "";
    position: absolute;
    transform: rotate(45deg);
    width: 2px;
    height: 30px;
  }
  .close-icon:after {
    left: 4px;
    top: 6px;
    background-color: #ffffff;
    width: 2px;
    position: absolute;
    height: 30px;
    content: "";
    transform: rotate(-45deg);
  }
  .header-logo {
    text-align: center;
    margin: auto;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
  }
  .header-logo h1 {
    margin: 20px auto;
    font-size: 28px;
    letter-spacing: 2px;
    line-height: 1.2em;
    font-weight: 500;
    padding: 5px 0;
    text-transform: uppercase;
    width: auto;
  }
  .header-logo a {
    margin: auto;
    border-color: #575757;
    border-style: solid hidden;
    color: #575757;
    text-decoration: none;
  }
  nav {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #454545;
    overflow: scroll;
  }
  nav ul {
    position: relative;
    top: 86px;
    text-align: center;
    margin: auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .list-item {
    font-size: 17px;
    list-style-type: none;
    text-transform: uppercase;
    margin: auto;
  }
  .list-item a {
    font-size: 0.82em;
    display: inline-block;
    margin: auto;
    text-decoration: none;
    color: #fff;
    transform: scale(1, 1.1);
    letter-spacing: 2px;
    font-weight: 400;
    width: 85%;
    padding: 8px;
  }

  .slide-span {
    margin: 65% 35% 0% 35%;
  }

  .financer-heading {
    font-size: 38px;
    line-height: 1em;
  }
}
@media (max-width: 480px) {
  .slide-span {
    margin: 65% 30% 0% 30%;
  }
}
@media screen and (max-width: 350px) {
  .slide-span {
    margin: 75% 25% 0% 25%;
  }

  .financer-heading {
    font-size: 26px;
    line-height: 1em;
  }
}

@media screen and (min-width: 351px) and (max-width: 480px) {
  /* .arrow {
    position: absolute;
    width: 8px;
    height: 8px;
    border-width: 2px;
    border-style: solid solid hidden hidden;
    border-color: #ffffff;
  }
  .up-arrow {
    transform: rotate(-45deg);
  }
  .down-arrow {
    transform: rotate(135deg);
  }
  .sublist {
    position: relative;
    top: -20px;
    text-align: center;
    margin: 0;
    background-color: #fff;
  }
  .sublist li {
    margin: auto;
    text-align: center;
    color: #454545;
    display: inline;
  }
  .sublist a {
    color: #454545;
    margin: 0;
    padding: 15px 0px;
  }
   .background-image-zoom-out {
    animation: zoom-out 10s infinite ease;
    animation-fill-mode: forwards;
    z-index: -1;
    width: 100%;
    left: 0;
    top: 0;
    background-attachment: fixed;
    position: relative;
    object-fit: contain; 
  }
  @keyframes zoom-out {
    0% {
      transform: scale(1);

    }
    50% {
      transform: scale(0.5);

    }
    100% {
      transform: scale(1);
    }
  }*/
  .financer-heading {
    line-height: 1.1em;
    font-size: 28px !important;
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .financer-heading {
    font-size: 38px;
    line-height: 1em;
  }
}
@media screen and (min-width: 769px) {
  .contact-mail {
    position: absolute;
    top: 5px;
    display: flex;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    right: 20px;
    margin: 12px;
  }
  .contact-mail p {
    margin: 5px;
  }
  .contact-mail p:first-child {
    border-right: solid 2px #fff;
    padding-right: 10px;
  }
  .contact-mail a {
    text-decoration: none;
    color: #fff;
  }
  .contact-mail a:hover {
    color: #df0505;
  }
  header {
    position: absolute;
    margin-top: 35px;
    width: 98.5%;
    border-top: dotted 1px #fff;
  }
  .header-logo {
    font-family: Arial, Helvetica, sans-serif;
    width: 16%;
  }
  .header-logo h1 {
    margin-left: 15px;
    font-size: 30px;
    left: 20px;
    position: absolute;
    letter-spacing: 2px;
  }
  .header-logo a {
    margin: auto;
    text-decoration: none;
    border-style: solid hidden;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
  }
  .hamburger-menu-div {
    display: none;
  }
  nav {
    width: 83%;
    float: right;
  }
  nav ul {
    float: right;
    padding: 0;
    margin: auto 0 auto 10%;
    line-height: 1.5em;
  }
  .list-item {
    float: left;
    list-style-type: none;
    text-align: center;
    height: 5rem;
  }
  .list-item a {
    padding: 25px;
    display: block;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #fff;
  }
  .financer-data-div {
    clear: left;
  }
  .financer-heading {
    margin-top: 16%;
    margin-bottom: 5%;
    font-size: 75px;
    line-height: 1em;
  }
  .financer-data-div {
    margin: auto;
    max-width: 85rem;
  }
  .financer-description {
    margin: 0;
    width: 65%;
  }
  .financer-template-contact {
    margin: 30px 0px;
  }
  .slide-span {
    margin: 25% 40%;
  }
}
