* {
  box-sizing: border-box;
}
header {
  display: block;
}
.financer-template-div {
  background-color: #363635;
  padding: 5em 2em 0em;
  margin: auto;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("assets/carousel.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.new-text {
  color: #f49f00;
}
.financer-description {
  font-size: 20px;
  line-height: 1.5em;
  margin: 25px 0px;
  font-weight: normal;
}
.main-div {
  margin: 15px;
}

.financer-template-contact {
  margin: 50px 0;
  display: flex;
  font-size: 14px;
  color: #fff;
}
.financer-template-contact span {
  padding: 18px;
  color: #fff;
  margin: 2px;
}
.financer-template-contact a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
.about-us {
  background-color: #df0505;
}
.contact-us {
  background-color: #f1a00a;
}
.slide-span {
  display: flex;
  text-align: center;
  position: relative;
  bottom: 30px;
}
.slide-span span {
  margin: 2px;
  width: 40px;
  text-align: center;
  height: 1px;
  background-color: #575757;
}
.slide-span a {
  cursor: pointer;
  display: block;
  text-decoration: none;
  height: 1px;
}
.slide-span a:hover {
  background-color: #fff;
}
.list-item a:after {
  display: block;
  content: "";
  margin: 20px auto;
  border-bottom: solid 2px #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.345s ease;
}
.list-item a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  margin: 20px auto;
}
.who-we-are,
.what-we-do-section {
  padding: 7em 1em 0 1em;
}
.what-we-do-grid-item {
  width: 100%;
  height: 100%;
  margin-bottom: 25px;
}
.what-we-do-grid-image-div {
  padding: 0 10px;
}
.what-we-do-grid-image-div img {
  object-fit: contain;
  width: 100%;
  height: auto;
}
.what-we-do-description {
  text-align: left;
  padding: 0 10px;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0;
}
.what-we-do-description p {
  margin: 0;
}
.who-we-are-image-div img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
.who-we-are-grid h3 {
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.2em;
}
.who-we-are-grid p {
  margin: -5px 0 0;
  /* padding: 0 2px; */
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6em;
  color: #929292;
}
.who-we-are-flex-div {
  margin: 5px 0;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
  grid-gap: 10px;
}
.who-we-are-flex {
  display: flex;
  margin-bottom: 20px;
  /* margin-top: -5px; */
}
.who-we-are-flex i {
  width: 14%;
  float: left;
  font-size: 32px;
  top: 22px;
  position: relative;
  color: #d10101;
}
.flex-description {
  width: 80%;
  float: right;
  margin-top: -5px;
  margin-bottom: -10px;
}
.circle {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%/50%;
  border-color: #fff;
  border-width: 2px;
  border-style: solid;
  background-color: #d10101;
  float: left;
}
.arrow::before {
  content: "";
  position: absolute;
  margin: 7px 5px;
  width: 6px;
  height: 6px;
  top: -1px;
  left: -1px;
  font-weight: 400;
  border-width: 2px;
  border-style: solid solid hidden hidden;
  border-color: #fff;
  transform: rotate(-45deg);
}
/*make arrow transform to 135deg when content is displayed in accordion */

.accordion-list li {
  background-color: #d10101;
  width: 100%;
  list-style-type: none;
  font-size: 18px;
  padding: 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
  color: #fff;
  margin: 5px 0;
  line-height: 1.4em;
}
.accordion-list div {
  position: relative;
  top: 5px;
  margin: 0 8px;
}
.accordion-list p {
  margin: 5px 8px;
}
.our-numbers-section {
  background-color: #353030;
}
.color-yellow {
  color: #f1a00a;
}
.color-green {
  color: #4bb34b;
}
.color-blue {
  color: #01aadd;
}
.color-red {
  color: #f00;
}
.count-number {
  font-size: 54px;
  font-family: sans-serif;
  margin: 0;
  font-weight: 100;
}
.responsive-background-main-div {
  background-image: url("assets/parallax-04.jpg");
  background-position: center top;
}

.responsive-background-section p {
  padding: 0 10px;
}
.responsive-background-description {
  line-height: 1.5em;
  font-weight: normal;
  font-size: 19px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.need-help {
  font-family: "Snell Roundhand", cursive;
  font-size: 40px;
  color: #fff;
  margin: 0;
  line-height: 1.4em;
}
.contact-our-team {
  background-color: #f1a00a;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  width: 165px;
  margin: 25px 10px;
  padding: 20px 18px !important;
  text-transform: capitalize;
  color: #fff;
}
.contact-our-team a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.read-more-arrow {
  position: relative;
  border-color: #df0505 !important;
  top: -1px !important;
  left: 0 !important;
  width: 8px;
  height: 8px;
  display: inline-block;
  border-width: 2px;
  border-style: solid solid hidden hidden;
  transform: rotate(45deg) !important;
}
.show-next-client-div,
.show-our-latest-blogs {
  position: relative;
  display: flex;
  text-align: left;
  margin-top: 50px;
}
.show-next-client-div span,
.show-our-latest-blogs span {
  position: relative;
  width: 40px;
  height: 1px;
  background-color: #979797;
  margin: 2px;
}
.show-next-client-div span:hover,
.show-our-latest-blogs span:hover {
  background-color: #4e4e4e;
  cursor: pointer;
}
.show-our-latest-blogs {
  margin-top: 65px;
}
.reviews-section,
.our-team-section {
  background-color: #f1f1f1b6;
}
.reviews-main-div {
  padding: 5.5em 1.9em;
  display: grid;
  grid-template-columns: 100%;
}
.clients h3,
.blog-information-div h3 {
  font-size: 24px;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: #575757;
}
.clients h3 strong {
  font-weight: 600;
  color: #333333;
}
.star {
  font-size: 13px !important;
  color: #ffe600;
}
.review-description,
.blog-description {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6em;
  color: #929292;
}
.person-name-designation {
  color: #df0505;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  padding: 15px 0;
}
.latest-from-our-blog {
  padding: 15px 0;
}
.blog-logo {
  max-width: 100%;
  cursor: pointer;
}
.blog-logo:hover {
  transform: scale(1.1);
}
.our-blog-span {
  color: #333333;
}
.blog-main-heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.2em;
}
.blog-main-heading:hover {
  color: #df0505;
}
.read-more-text {
  width: 100px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
.read-more-text a {
  cursor: pointer;
  display: block;
  width: 100px;
  color: #d10101;
  text-decoration: none;
}
.read-more-text:hover .read-more-arrow {
  animation-name: "move-right";
  animation-fill-mode: forwards;
}
@keyframes move-right {
  50% {
    margin-left: 3px;
  }
  100% {
    margin-left: 6px;
  }
}
.our-clients-list li {
  list-style-type: none;
  padding: 0 10px;
}
.our-clients-list img {
  max-width: 100%;
}
.details-section {
  padding: 5.5em 0 0;
  width: 100%;
}
.red-border {
  display: block;
  position: relative;
  top: 6px;
}
.red-border img {
  width: 100%;
}
.social-media-links {
  width: 100%;
  background-color: #c80000;
  /* margin: 25px auto; */
}

.social-media-links span {
  /* margin: 0 25%; */
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0 1px;
  border-radius: 25px;
  background-color: #fff;
}
/* .social-media-links a: {} */
.social-media-links a {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #c80000;
}
.social-media-links i {
  font-size: 20px;
  position: relative;
  color: #c80000;
  margin: 5px 8px;
  /* z-index: 1; */
}
.details-div {
  background-color: #353030;
  overflow: hidden;
}
.mobile-icon {
  font-size: 26px !important;
  padding-right: 10px !important;
}
.details-sub-div li {
  cursor: pointer;
}

.details-sub-div a:hover {
  color: #c80000;
}
.details-sub-div i {
  color: #c80000;
}
.details-sub-div h4 {
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
  margin: 15px 0;
}

.our-mission p {
  color: #979797;
  line-height: 1.6em;
}
.details-sub-div ul {
  padding: 0;
  color: #979797;
}
.details-sub-div li {
  list-style-type: none;
  color: #979797;
  line-height: 1.6em;
  padding: 1px;
  font-size: 15px;
}
.details-sub-div a {
  text-decoration: none;
  color: #979797;
}
.details-sub-div i {
  padding: 0 5px;
}
footer {
  border-top: dotted 1px #fff;
  background-color: #353030;
  margin: 0 15px;
  padding: 2em 1.2em;
  position: relative;
  top: -15px;
}
.footer-div {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #979797;
  /* padding-left: 5px; */
}
.footer-div p {
  margin: 0;
  line-height: 1.4em;
}
.copyright,
.designed-by {
  margin: 10px 0;
}
.our-team-main-div h2 {
  color: #333;
}
.team-member-details {
  text-align: center;
  /* padding: 10px 15px; */
  line-height: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}
.team-member-details p {
  margin: 0;
  line-height: 1.6em;
}
.team-member-name {
  text-transform: capitalize;
  font-size: 18px;
  color: #414141;
}
.team-member-role {
  color: #c80000;
  text-transform: uppercase;
  font-size: 14px;
}
.team-member-social-media {
  margin-top: 15px;
}
.team-member-social-media span {
  position: relative;
  display: inline-block;
  width: 27px;
  height: 27px;
  background-color: #d6d6d6be;
  border-radius: 25px;
}
.team-member-social-media i {
  margin: 5px;
}
.team-member-social-media a {
  text-decoration: none;
  color: #fff;
}
.team-member-social-media span:hover {
  background-color: #c80000;
}
.show-next-list-of-team-members {
  display: flex;
  margin-top: 5rem;
  width: 8.5rem;
  position: relative;
}
.show-next-list-of-team-members span {
  position: relative;
  width: 40px;
  height: 1px;
  cursor: pointer;
  background-color: #b3b3b3e1;
  margin: auto 2px;
}
.show-next-list-of-team-members span:hover {
  background-color: #575757;
}
.show-next-list-of-team-members a {
  text-decoration: none;
  width: 35px;
  height: 1px;
  background-color: #979797;
}

.team-members-list {
  position: relative;
  display: flex;
  overflow: scroll;
  width: auto;
  padding-left: 15px;
  top: -6rem;
}
.team-member {
  margin-right: 15px;
}
.team-member-image-div {
  /* position: absolute; */
  display: block;
}
.about-team-member {
  top: 45%;
  position: sticky;
  padding: 10px 15px;
  margin: 0 15px;
  line-height: 1.6em;
  background-color: #c80000;
  color: #fff;
  font-size: 14px;
  font-family: Arial;
  opacity: 0;
  bottom: 2px;
  transition: all 0.5s;
}
.about-team-member:hover {
  opacity: 1;
  top: 40%;
  /* bottom: 2em; */
}
.about-team-member p:hover {
  transition: all 0.5s linear;
}
@media (max-width: 768px) {
  .show-next-list-of-team-members {
    left: 35%;
  }
  .team-member-image-div img {
    max-width: 200px;
  }
  .contact-mail {
    display: none;
  }
  .hamburger-menu-div {
    width: 60px;
    height: 60px;
    background-color: #454545;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1;
    cursor: pointer;
  }
  .menu-bars {
    visibility: visible;
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    margin: 20px 14px;
    border-radius: 2px;
  }
  .menu-bars:before {
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    content: "";
    margin: 9px auto;
    border-radius: 2px;
  }
  .menu-bars:after {
    border-radius: 2px;
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    content: "";
    margin: 18px auto;
  }
  .close-icon {
    position: absolute;
    margin: 10px 25px;
    width: 3px;
    height: 30px;
    visibility: hidden;
  }
  .close-icon:before {
    left: 4px;
    top: 6px;
    background-color: #fff;
    content: "";
    position: absolute;
    transform: rotate(45deg);
    width: 2px;
    height: 30px;
  }
  .close-icon:after {
    left: 4px;
    top: 6px;
    background-color: #ffffff;
    width: 2px;
    position: absolute;
    height: 30px;
    content: "";
    transform: rotate(-45deg);
  }
  .header-logo {
    text-align: center;
    margin: auto;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
  }
  .header-logo h1 {
    margin: 20px auto;
    font-size: 28px;
    letter-spacing: 2px;
    line-height: 1.2em;
    font-weight: 500;
    padding: 5px 0;
    text-transform: uppercase;
    width: auto;
  }
  .header-logo a {
    cursor: pointer;
    margin: auto;
    border-color: #575757;
    border-style: solid hidden;
    color: #575757;
    text-decoration: none;
  }
  nav {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #454545;
    overflow: scroll;
  }
  nav ul {
    position: relative;
    top: 86px;
    text-align: center;
    margin: auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .list-item {
    font-size: 17px;
    list-style-type: none;
    text-transform: uppercase;
    margin: auto;
  }
  .list-item a {
    cursor: pointer;
    font-size: 0.82em;
    display: inline-block;
    margin: auto;
    text-decoration: none;
    color: #fff;
    transform: scale(1, 1.1);
    letter-spacing: 2px;
    font-weight: 400;
    width: 85%;
    padding: 8px;
  }

  .slide-span {
    margin: 65% 35% 0% 35%;
  }

  .financer-heading {
    font-size: 38px;
    line-height: 1em;
  }
  h2 {
    text-transform: capitalize;
    font-size: 40px;
    padding: 0 10px;
    margin-bottom: 35px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .who-we-are-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    grid-gap: 5px;
    padding: 0 8px;
    margin-top: -20px;
  }
  .who-we-are-grid h3 {
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.2em;
  }
  .who-we-are-grid p {
    margin: -5px 0 0;
    padding: 0 2px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    color: #929292;
  }
  .who-we-are-flex-div {
    margin: 5px 0;
  }
  .who-we-are-flex {
    display: flex;
    margin-bottom: 20px;
    /* margin-top: -5px; */
  }
  .who-we-are-flex i {
    width: 12%;
    float: left;
    font-size: 32px;
    top: 30px;
    position: relative;
    color: #d10101;
  }
  .flex-description {
    width: 100%;
    float: right;
    margin-top: -5px;
  }
  .what-about-accordion-section {
    padding: 7em 0 0;
  }
  .accordion-image-div img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }
  .what-about-accordion-div,
  .our-team-main-div {
    background-color: #f1f1f1b6;
  }
  .accordion-flex-div {
    text-align: left;
    padding: 1.2em 1.4em;
  }
  .accordion-heading {
    text-transform: none;
    font-size: 34px;
    color: #4e4e4e;
  }
  .accordion-description {
    padding: 0 8px;
    /* padding:0 5px; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    line-height: 1.4em;
    margin: 0;
    width: 100%;
  }
  .accordion-list {
    padding: 0 2px;
  }
  .our-numbers-section,
  .our-team-section,
  .responsive-background-section,
  .review-section {
    padding: 0;
  }
  .our-numbers-main-div,
  .our-team-main-div,
  .responsive-background-main-div,
  .our-clients {
    padding: 5.5em 1.2em;
  }
  .our-numbers-section h2 {
    color: #fff;
    padding-left: 15px;
  }
  .count-of-team {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10px;
  }
  .count-of-team-grid-item {
    padding: 8px 15px;
  }
  .count-number {
    font-size: 54px;
    font-family: sans-serif;
    margin: 0;
    font-weight: 100;
  }
  .count-of-team-description {
    font-size: 20px;
    color: #fff;
    font-family: sans-serif;
    font-weight: lighter;
    margin: 5px 0;
  }
  .our-team-section h2 {
    padding-left: 15px;
  }

  .responsive-background-section h2 {
    color: #fff;
    padding: 0 0 0 10px;
    font-size: 38px !important;
  }
  .responsive-background-section p {
    padding: 0 10px;
  }
  .responsive-background-description {
    line-height: 1.5em;
    font-weight: normal;
    font-size: 19px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
  }
  .need-help {
    font-family: "Snell Roundhand", cursive;
    font-size: 40px;
    color: #fff;
    margin: 0;
    line-height: 1.4em;
  }
  .contact-our-team {
    background-color: #f1a00a;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 165px;
    margin: 25px 10px 0;
    padding: 20px 18px !important;
    text-transform: capitalize;
    color: #fff;
  }
  .contact-our-team a {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
  }
  .our-clients-list {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-gap: 20px;
    padding: 0;
  }
  .details-sub-div {
    padding: 5.5em 1.9em;
    font-family: Arial, Helvetica, sans-serif;
  }
  .red-border {
    top: 7px;
  }
  .social-media-div {
    padding: 0.3em 0 2em;
    margin-left: 34%;
  }
  .show-next-list-of-team-members {
    left: 38% !important;
  }
}
@media (max-width: 480px) {
  .slide-span {
    margin: 65% 30% 0% 30%;
  }
  .what-we-do {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    grid-gap: 10px;
  }
  .responsive-background-main-div h2 {
    font-size: 38px !important;
  }
  .details-sub-div {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10px;
  }
  .social-media-div {
    padding: 0.3em 0 2em;
    margin-left: 28%;
  }
  .show-next-list-of-team-members {
    left: 28% !important;
  }
}
@media screen and (max-width: 350px) {
  .slide-span {
    margin: 75% 25% 0% 25%;
  }
  .financer-heading {
    font-size: 26px;
    line-height: 1em;
  }
  .social-media-div {
    padding: 0.7em 0 2em;
    margin-left: 18%;
  }
  .show-next-list-of-team-members {
    left: 20% !important;
  }
}
@media screen and (max-width: 600px) {
  .flex-description {
    width: 100%;
    float: right;
    margin-left: 28px;
    position: relative;
  }
}
@media screen and (min-width: 481px) {
  .blog-information-sub-grid {
    display: grid;
    grid-template-columns: 25% 70%;
    justify-content: space-between;
    grid-gap: 15px;
  }
  .subgrid-blog-image-div {
    margin: 25px auto;
  }
  .read-more-text {
    padding: 15px 0;
  }
  .footer-div {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .copyright {
    float: left;
    left: 0;
    width: 65%;
  }
  .designed-by {
    float: right;
    width: 50%;
    text-align: right;
  }
}
@media screen and (min-width: 351px) and (max-width: 480px) {
  /* .arrow {
    position: absolute;
    width: 8px;
    height: 8px;
    border-width: 2px;
    border-style: solid solid hidden hidden;
    border-color: #ffffff;
  }
  .up-arrow {
    transform: rotate(-45deg);
  }
  .down-arrow {
    transform: rotate(135deg);
  }
  .sublist {
    position: relative;
    top: -20px;
    text-align: center;
    margin: 0;
    background-color: #fff;
  }
  .sublist li {
    margin: auto;
    text-align: center;
    color: #454545;
    display: inline;
  }
  .sublist a {
    color: #454545;
    margin: 0;
    padding: 15px 0px;
  }
   .background-image-zoom-out {
    animation: zoom-out 10s infinite ease;
    animation-fill-mode: forwards;
    z-index: -1;
    width: 100%;
    left: 0;
    top: 0;
    background-attachment: fixed;
    position: relative;
    object-fit: contain; 
  }
  @keyframes zoom-out {
    0% {
      transform: scale(1);

    }
    50% {
      transform: scale(0.5);

    }
    100% {
      transform: scale(1);
    }
  }*/
  .financer-heading {
    line-height: 1.1em;
    font-size: 28px !important;
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .financer-heading {
    font-size: 38px;
    line-height: 1em;
  }
  .what-we-do {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: auto;
    grid-gap: 10px;
  }
  .details-sub-div {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 45% 45%;
    grid-gap: 20px;
    margin: auto;
  }
}
@media screen and (min-width: 769px) {
  .contact-mail {
    position: absolute;
    top: 5px;
    display: flex;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    right: 20px;
    margin: 12px;
  }
  .contact-mail p {
    margin: 5px;
  }
  .contact-mail p:first-child {
    border-right: solid 2px #fff;
    padding-right: 10px;
  }
  .contact-mail a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
  }
  .contact-mail a:hover {
    color: #df0505;
  }
  header {
    position: absolute;
    margin-top: 35px;
    width: 98.5%;
    border-top: dotted 1px #fff;
  }
  .header-logo {
    font-family: Arial, Helvetica, sans-serif;
    width: 16%;
  }
  .header-logo h1 {
    margin-left: 15px;
    font-size: 30px;
    left: 20px;
    position: absolute;
    letter-spacing: 2px;
  }
  .header-logo a {
    cursor: pointer;
    margin: auto;
    text-decoration: none;
    border-style: solid hidden;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
  }
  .hamburger-menu-div {
    display: none;
  }
  nav {
    width: 83%;
    float: right;
  }
  nav ul {
    float: right;
    padding: 0;
    margin: auto 0 auto 10%;
    line-height: 1.5em;
  }
  .list-item {
    float: left;
    list-style-type: none;
    text-align: center;
    height: 5rem;
  }
  .list-item a {
    cursor: pointer;
    padding: 25px;
    display: block;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #fff;
  }
  .financer-data-div {
    clear: left;
  }
  .financer-heading {
    margin-top: 16%;
    margin-bottom: 5%;
    font-size: 75px;
    line-height: 1em;
  }
  .financer-data-div {
    margin: auto;
    max-width: 80rem;
  }
  .financer-description {
    margin: 0;
    width: 65%;
  }
  .financer-template-contact {
    margin: 30px 0px;
  }
  .slide-span {
    margin: 25% 40% 0;
  }
  h2 {
    text-transform: capitalize;
    font-size: 74px;
    padding: 0 10px;
    margin-bottom: 35px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .what-we-do-section,
  .who-we-are {
    margin: auto;
    max-width: 80rem;
  }
  .what-we-do {
    display: grid;
    grid-template-columns: repeat(4, 24.5%);
    grid-auto-rows: auto;
    grid-gap: 10px;
  }
  .who-we-are-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: auto;
    grid-gap: 5px;
    padding: 0 8px;
    margin-top: -20px;
  }
  .who-we-are-grid-item {
    padding: 0 15px 0 5px;
  }
  .who-we-are-image-div {
    position: relative;
    top: 20px;
  }
  .what-about-accordion-section {
    padding: 7.7em 0 0 0;
  }
  .what-about-accordion-div {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: auto;
    align-content: space-between;
    grid-gap: 1.2em;
    background-color: #f1f1f1b6;
  }
  .accordion-image-div img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }
  .accordion-heading {
    font-size: 68px;
    color: #4e4e4e;
    /* overflow: hidden; */
  }
  .accordion-flex-div {
    padding: 1.8em;
    position: relative;
    top: -3em;
  }
  .accordion-description {
    padding: 0 0.8rem;
    font-size: 19px;
    line-height: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
  }
  .our-numbers-section {
    padding: 5.5rem 1.8rem;
    background-color: #353030;
  }
  .our-numbers-main-div {
    max-width: 80rem;
    padding: 10px;
    margin: auto;
    padding: 2em 0;
  }
  .accordion-list {
    padding: 0.8rem;
  }
  .our-numbers-section h2 {
    margin: 0;
    color: #fff;
    padding-left: 1.2rem;
  }
  .count-of-team {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    /* grid-gap: 10px; */
    margin: 2em 0;
    clear: left;
  }
  .count-of-team-grid-item {
    padding: 25px 15px;
  }
  .count-of-team-description {
    font-size: 20px;
    font-weight: lighter;
    font-family: sans-serif;
    color: #fff;
  }
  .responsive-background-description {
    margin: 10px auto;
  }
  .responsive-background-section h2 {
    color: #fff;
    font-size: 71px;
    padding: 0 0 0 10px;
  }
  .responsive-background-data {
    margin: 0 auto;
    max-width: 80rem;
    padding: 5.5em 1.5em;
  }
  .reviews-main-div {
    max-width: 80rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-gap: 25px;
  }
  .clients h3,
  .blog-information-div h3 {
    font-size: 36px;
    line-height: 1.3em;
    margin: 20px 0;
  }
  .latest-from-our-blog {
    padding: 0;
  }
  .our-clients-section h2 {
    padding: 1.5em 0 0 0.5em;
    max-width: 80rem;
    margin: auto;
  }
  .social-media-div {
    padding: 0.3em 0 2em;
    margin-left: 45%;
  }
  .our-clients-list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 15px;
    padding: 0;
    margin: 40px 0;
  }
  .details-sub-div {
    padding: 5.5em 1.8em;
    max-width: 80rem;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: auto;
  }
  .red-border {
    position: relative;
    top: 7px;
  }
  .social-media-div {
    padding: 0.3em 0 2em;
    margin-left: 40%;
  }
  .our-team-main-div h2 {
    padding: 0 0 0 0.5em;
    max-width: 80rem;
    margin: 0 auto;
  }
  .our-team-main-div {
    padding: 7em 0;
  }
}
@media screen and (max-width: 1140px) {
  .details-sub-div img {
    display: none;
  }
  .team-member-image-div img {
    max-width: 220px;
  }
  .show-next-list-of-team-members {
    left: 40%;
  }
}
@media screen and (min-width: 1141px) {
  .details-sub-div {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    margin: auto;
  }
  .details-sub-div img {
    display: block;
    max-width: 80%;
    margin: auto;
  }
  .team-member-image-div img {
    max-width: 100%;
  }
  .show-next-list-of-team-members {
    left: 45%;
  }
}
